In [1]:
import pandas as pd
from functools import reduce

In [2]:
df_15 = pd.read_csv("2015_happiness.csv") 
df_16 = pd.read_csv("2016_happiness.csv") 
df_17 = pd.read_csv("2017_happiness.csv") 
df_18 = pd.read_csv("2018_happiness.csv") 
df_19 = pd.read_csv("2019_happiness.csv")

In [6]:
df_15 = df_15[['Country', 'HappinessScore']]
df_16 = df_16[['Country', 'HappinessScore']]
df_17 = df_17[['Country', 'HappinessScore']]
df_18 = df_18[['Country', 'HappinessScore']]
df_19 = df_19[['Country', 'HappinessScore']]

In [7]:
df_15 = df_15.rename(columns={'HappinessScore':'HappinessScore2015'})
df_16 = df_16.rename(columns={'HappinessScore':'HappinessScore2016'})
df_17 = df_17.rename(columns={'HappinessScore':'HappinessScore2017'})
df_18 = df_18.rename(columns={'HappinessScore':'HappinessScore2018'})
df_19 = df_19.rename(columns={'HappinessScore':'HappinessScore2019'})

data_frames = [df_15, df_16, df_17, df_18, df_19]

In [8]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country'],
                                            how='outer'), data_frames).fillna('void')

In [9]:
df_merged.head()

,Country,HappinessScore2015,HappinessScore2016,HappinessScore2017,HappinessScore2018,HappinessScore2019
0,Switzerland,7.587,7.509,7.494,7.487,7.48
1,Iceland,7.561,7.501,7.504,7.495,7.494
2,Denmark,7.527,7.526,7.522,7.555,7.6
3,Norway,7.522,7.498,7.537,7.594,7.554
4,Canada,7.427,7.404,7.316,7.328,7.278

In [12]:
df_merged.to_csv('merged_HappinessScore.csv', encoding='utf-8', index=False)